@font-face {
    font-family: Type;
    src: url(../fonts/type.TTF);
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    padding-top: 56px;
}

main {
    margin-bottom: 4rem;
}


header {
    font-family: Type;
    font-size: larger;
}

.navbar {
    background-color: #343a40 !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-nav {
    margin: 0 auto;
}

.navbar-brand,
.nav-link {
    color: #ffffff !important;
    text-align: center;
}

.navbar-brand {
    cursor: default;
}

.nav-link:active {
    color: #b81414 !important;
}

.margi-button {
    margin-top: 50px;
}

.section-block {
    scroll-margin-top: 60px;
    padding: 2rem;
}

.section-block h2 {
    margin-bottom: 0.85rem;
}

.section-block p {
    margin-top: 0.25rem;
    text-align: justify;
    max-width: 75ch;
    margin-left: auto;
    margin-right: auto;
}


#guerra > p:first-of-type,
#gestas > p:first-of-type,
#poderes > p:first-of-type,
#guardia > p:first-of-type,
#prueba > p:first-of-type,
#derechos > p:first-of-type {
    text-align: center;
    font-style: italic;
}


h2 {
    font-family: Type;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 2rem;
}

h3 {
    font-family: Type;
    font-size: x-large;
    text-align: center;
    margin-bottom: 1.25rem;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    text-align: justify;
    max-width: 75ch;
    margin-left: auto;
    margin-right: auto;
}

h5 {
    font-family: Type;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    max-width: 75ch;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}


.carousel {
    height: calc(100vh - 56px);
}

.carousel .carousel-inner,
.carousel .carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

#carouselExampleCaptions {
    scroll-margin-top: 56px;
}


footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 2rem 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer p {
    margin: 0.5rem 0;
}

footer h6 {
    margin-top: 1rem;
    font-size: small;
    color: #adb5bd;
}